JWT_SECRET=string
JWT_EXPIRES_IN=1h
APP_DATABASE_URI=url
AWS_S3_BUCKET_NAME=string
AWS_S3_ACCESS_KEY_ID=string
AWS_S3_SECRET_ACCESS_KEY=string
AWS_S3_REGION=region
MAILTRAP_HOST=url
MAILTRAP_TOKEN=string
MAILTRAP_SENDER_NAME=string
MAILTRAP_SENDER_EMAIL=email
DAYJS_START=2025-01-29
DAYJS_END=2025-06-29
ACADEMIC_YEAR=2025
ACADEMIC_TERM=2