JWT_SECRET=string
JWT_EXPIRES_IN=1h
APP_DATABASE_URI=url
MAILTRAP_HOST=url
MAILTRAP_TOKEN=string
MAILTRAP_SENDER_NAME=string
MAILTRAP_SENDER_EMAIL=email
DAYJS_START=2025-01-29
DAYJS_END=2025-06-29
DAYJS_START_EXTRA=2025-07-1
DAYJS_END_EXTRA=2025-06-30
ACADEMIC_YEAR=2025
ACADEMIC_TERM=2
MONGO_USERNAME=string
MONGO_PASSWORD=string
MONGO_DATABASE=string
MONGO_PORT=####